# ---------- Python ----------
__pycache__/
*.py[cod]
*$py.class

# ---------- Virtual Environment ----------
.venv/
venv/
env/
ENV/

# ---------- Environment Variables ----------
.env

# ---------- Vector Database (RAG) ----------
vector_store/

# ---------- HuggingFace / Model Cache ----------
.cache/
huggingface/

# ---------- Streamlit ----------
.streamlit/

# ---------- Logs ----------
*.log

# ---------- OS Files ----------
.DS_Store
Thumbs.db

# ---------- IDE ----------
.vscode/
.idea/